/* ** Small screens. Resize cards, change score panel elements
   ** and modal position */
@media screen and (max-width: 320px) {

  h1 {
    margin: 0;
  }

  .stars,
  .moves_counter,
  .timer,
  .restart {
    width: 45vw;
  }

  .deck .card {
    height: 15vh;
  }

  .modal {
    left: 10%;
    width: 80%;
  }
}
/* ** Resize cards to make the deck entirely fit entirely into
   ** the screen. Set deck max width to keep good card
   ** proportions  */
@media screen and (min-width: 320px) and (max-width: 768px) {

  h1 {
    font-size: 2em;
    margin: 0 0.75em;
  }


  .deck .card {
    width: 20vw;
    max-width: 130px;
    max-height: 15vh;
  }

  .score-panel {
    width: 90vw;
    margin: 0 1em;
  }

  .deck {
    max-width: 600px;
  }
}

/* ** Enhance the h1 size for bigger screens */
@media screen and (min-width: 426px) and (max-width: 768px) {

  h1 {
    font-size: 2.5em;
  }
}

/* ** make all deck elements responsive to screen sizes */
@media screen and (max-width: 768px) {

  .score-panel {
    width: 95vw;
    margin: 0 0.75em;
  }

  .deck {
      margin-top: 0.75em;
      width: 100vw;
      padding: 1em;
  }

  .deck .card.show {
      font-size: 1.5em;
  }

  .deck .card.match {
      font-size: 2em;
  }

  .deck .card {
      width: 20vw;
      margin-top: 15px;
  }
}

@media screen and (min-width: 769px) {
  .deck {
    height: 600px;
  }
}
